
.input{
    width: 50%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
}
form {
    display: flex;
    justify-content: center;
    width: 50%;
}
.saveCard {
    width: 500px;
    height: 80px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 4px 4px 20px rgba(185, 186, 185, 0.75);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}